In [2]:
pip install pyodbc

Requirement already satisfied: pyodbc in /Users/marcolaureano2/anaconda3/envs/dojo-env/lib/python3.10/site-packages (5.2.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()

In [10]:
import json
with open('/Users/marcolaureano2/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [11]:
from sqlalchemy import create_engine

In [12]:
connection = f"mysql+pymysql://{login['username']}:{(login['password'])}@localhost/taf_db"
engine = create_engine(connection)
conn = engine.connect()

In [13]:
q = """SHOW TABLES;"""
pd.read_sql(q, conn)

  Tables_in_taf_db
0        employees